@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("imagenes/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial;
  color: #403736;
  display: flex;
  flex-direction: column;
}


header{
  flex-shrink: 0;
  min-height: 60px;
  max-height: 100px;
  height: auto;
  width: 100%;
  background: #268C9F;
  border-bottom: 15px solid #354973;
  cursor: pointer;
  font-size: 7px;
  -moz-transition: all, 0.2s, ease-out;
  -o-transition: all, 0.2s, ease-out;
  -webkit-transition: all, 0.2s, ease-out;
  transition: all, 0.2s, ease-out;
  color: #3E355C;
  margin: 0;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.play, .tiempo, .volumen, .salir, .objetivo, .ayuda, .info, .follow_me_github  {
  margin: 5px 2%;
  display: inline-block;
  vertical-align: middle;
}


.objetivo{
  color: white;
  font-weight: bold;
  font-size: 33px;
  font-family: Arial;
}

#tiempo-texto, #objetivo-numero, #ayuda-texto {
  display: inline-block;
  margin-left: 3px;
}

#escenario {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 0;
}

#chess_board {
  border-collapse: collapse;
}

#chess_board td {
  border: 1px solid rgba(0,0,0,0.1);
  transition: all 0.2s ease;
}

.huevoPascua
{
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 15%;
}

/* Media Queries para Responsive Design */

/* Tablets y pantallas medianas */
@media screen and (max-width: 1024px) {
  header {
    min-height: 60px;
    padding: 3px 0;
  }
  
  .play, .tiempo, .volumen, .salir, .objetivo, .ayuda, .info, 
  .follow_me_github {
    margin: 3px 1.5%;
  }
  
  .objetivo {
    font-size: 28px;
  }
}

/* Móviles grandes */
@media screen and (max-width: 768px) {
  header {
    min-height: 55px;
    padding: 2px 0;
    border-bottom-width: 10px;
  }
  
  .play, .tiempo, .volumen, .salir, .objetivo, .ayuda, .info {
    margin: 2px 1%;
  }
  
  .objetivo {
    font-size: 22px;
  }
  
  
  /* Reducir tamaño de iconos */
  header .fa {
    font-size: 1.5em !important;
  }
}

/* Móviles pequeños */
@media screen and (max-width: 480px) {
  header {
    min-height: 50px;
    padding: 2px 0;
    border-bottom-width: 8px;
  }
  
  .play, .tiempo, .volumen, .salir, .objetivo, .ayuda, .info {
    margin: 2px 0.5%;
  }
  
  .objetivo {
    font-size: 18px;
  }
  
  /* Iconos más pequeños */
  header .fa {
    font-size: 1.2em !important;
  }
}

/* Pantallas muy pequeñas */
@media screen and (max-width: 360px) {
  header {
    min-height: 45px;
    border-bottom-width: 6px;
  }
  
  .objetivo {
    font-size: 16px;
  }
  
  header .fa {
    font-size: 1em !important;
  }
}

/* Orientación horizontal en móviles */
@media screen and (max-height: 500px) and (orientation: landscape) {
  header {
    min-height: 45px;
    padding: 2px 0;
    border-bottom-width: 8px;
  }
  
  .objetivo {
    font-size: 18px;
  }
  
  header .fa {
    font-size: 1.2em !important;
  }
}









