@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
body {
  background: #17B6A7;
}

.btn {
  height: 100px;
  width: 1350px;
  background: #268C9F;
  padding: 40px;
  position: absolute;
  border-radius: 40px;
  border-bottom: 15px solid #354973;
  top: 40px;
  left: 3%;
  cursor: pointer;
  font-size: 15px;
  -moz-transition: all, 0.2s, ease-out;
  -o-transition: all, 0.2s, ease-out;
  -webkit-transition: all, 0.2s, ease-out;
  transition: all, 0.2s, ease-out;
  color: #3E355C;



}


.play, .ayuda, .sonido, .puntuacion, .info, .screenshot, .share {
  display: inline-block;
  margin-left: 55px;
  height: 120px;
  width: 120px;
  border: 5px solid #3E355C;
  border-radius: 50%;
  text-align: center;
  margin-top: -22px;
  line-height: 170px;
  box-shadow: 10px 10px 0px #3E355C;
  -moz-transition: all, 0.1s, ease-out;
  -o-transition: all, 0.1s, ease-out;
  -webkit-transition: all, 0.1s, ease-out;
  transition: all, 0.1s, ease-out;
  


}
.play:active, .ayuda:active, .sonido:active, .puntuacion:active , .info:active, .screenshot:active, .share:active {
  box-shadow: none;
  -moz-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  -webkit-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}


.puntuacion{



  margin-left: 55px;
  height: 120px;
  width: 120px;
  border: 5px solid #3E355C;
  border-radius: 50%;

  margin-top: -22px;

  box-shadow: 10px 10px 0px #3E355C;
  -moz-transition: all, 0.1s, ease-out;
  -o-transition: all, 0.1s, ease-out;
  -webkit-transition: all, 0.1s, ease-out;
  transition: all, 0.1s, ease-out;
  
 
  color:white;
  line-height: 140px;
  font-weight: bold;
  font-size: 50px;
  font-family: Arial;


}




span {
  position: absolute;
  top: 400px;
  left: 25%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #3E355C;
  font-size: 5em;
}
